.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 50px;
}

.card {
  width: 280px;
  min-height: 270px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px 1px rgba(60,64,67,0.15), 0 1px 1px 0 rgba(60,64,67,0.1);
  margin: 15px 0;
  position: relative;

  h4 {
    word-break: break-word;
    text-transform: capitalize;
    font-size: 18px;
  }

  a {
    display: block;
    margin: 0 auto;
    border: 0;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      font-weight: 500;
    }
  }

  h5, a {
    text-align: center;
  }

  .card__desc, .card__info {
    text-align: center;
    padding: 0 15px;
  }

  .card__info {
    display: block;
    margin: 20px auto 10px;

    &:last-child {
      margin-bottom: 20px;
    }
  }

  .card__desc {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin-bottom: 10px;
  }

  .card__desc b,
  .card__info b {
    margin: 0 5px;
  }

  .languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .tags {
    border-radius: 100px;
    background-color: #e8e8e8;
    min-width: 50px;
    padding: 0 8px;
    height: 23px;
    line-height: 25px;
    box-shadow: 0 1px 3px 1px rgba(60,64,67,0.15);
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 5px;
    text-transform: uppercase;
    text-align: center;
  }
}
