header {
  height:  85px;;
  color: #fff;
  background-color: #353535;

  .grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    width: 260px;
    justify-content: space-between;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }
  }

  .menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
  }

  .menu a:hover::after {
    width: 100%;
  }

  .menu a.active {
    font-weight: 500;
  }

  .menu a.active::after {
    width: 100%;
  }

  .menu {
    list-style: none;
  }
}
