.open-sources {
  .cards {
    min-height: 890px;
  }

  .spinner {
    margin: 300px;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .title p {
    display: flex;
    align-items: center;
    font-weight: 500;
  }

  .contributed {
    position: absolute;
    right: 3px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: #FF9800;
    border-radius: 50%;
    display: inline-block;
  }

  .title p .contributed {
    position: relative;
    top: -1px;
    right: 5px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}
