/*
	SLIDE UP ANIMATION
*/

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.example {
  margin: 0 auto;
  width: 500px;
  height: 600px;
  margin-top: 150px;
  text-align: center;
  position: relative;
}

.phone-base {
	background: transparent url('../images/Nexus5.png') no-repeat;
  height: 602px;
  position: absolute;
  width: 420px;
  z-index: 3;
}

#app {
  background: #fff;
  height: 422px;
  left: 41px;
  overflow: hidden;
  position: absolute;
  top: 604px;
  width: 255px;
  z-index: 2;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: rgb(255, 140, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  bottom: 55px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.27);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.27);
  cursor: pointer;
  vertical-align:middle;
}

input[type="checkbox"] + label span {
  background: url('https://www.google.com/intl/ALL/nexus/new/images/animation/star-white.svg') no-repeat;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: 10;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 15px auto 0 16px;
  display: block;
}

input[type="checkbox"]:checked + label {
  background: rgb(105, 105, 105);
}

input[type="checkbox"]:checked ~ #app {
  top: 60px;
}